RESULTS CALCULATED BY HAND:

1.  Greg was 14, Marcia was 12, Peter was 11, Jan was 10, Bobby was 8, and Cindy was 6 when they started playing the Brady kids on The Brady Bunch. Cousin Oliver was 8 years old when he joined the show. What are the mean, median, and mode of the kids' ages when they first appeared on the show? What are the variance, standard deviation, and standard error?

I will treat these kids as a sample of the potential pool of children that could have been selected for the parts.

Mean = 9.86
Median = 10
Mode = 8
Variance = 7.48 (@n-1 for sample variance)
Standard Deviation = 2.73 (@n-1 for sample Std dev)
Standard Error = 1.03

2.  Using these estimates, if you had to choose only one estimate of central tendency and one estimate of variance to describe the data, which would you pick and why?

I would choose the mean and the standard error to estimate the likely age of the population of kids chosen.  Results are that the mean age of the population is likely between the ages of 8.8 years old and 10.9 years old.

3.  Next, Cindy has a birthday. Update your estimates- what changed, and what didn't?

Mean = 10
Median = 10
Mode = NA
Variance = 7 (@n-1 for sample variance)
Standard Deviation = 2.65 (@n-1 for sample Std dev)
Standard Error = 1

Very little changed.  Only slight differences in mean, variance, standard deviation, and standard error.  Median remained unchanged and there is no longer a mode of the data. The potential mean age of the population of kids chosen is now 9 years old to 11 years old.

4.  Nobody likes Cousin Oliver. Maybe the network should have used an even younger actor. Replace Cousin Oliver with 1-year-old Jessica, then recalculate again. Does this change your choice of central tendency or variance estimation methods?

Mean = 9
Median = 10
Mode = NA
Variance = 18.67 (@n-1 for sample variance)
Standard Deviation = 4.32 (@n-1 for sample Std dev)
Standard Error = 1.63

Range of mean ages shifted to 7.4 years old to 10.6 years old.  

5.  On the 50th anniversary of The Brady Bunch, four different magazines asked their readers whether they were fans of the show. The answers were: TV Guide 20% fans Entertainment Weekly 23% fans Pop Culture Today 17% fans SciPhi Phanatic 5% fans

    Based on these numbers, what percentage of adult Americans would you estimate were Brady Bunch fans on the 50th anniversary of the show?
    
12% to 20% of adult Americans were likely Brady Bunch fans on the 50th anniversary of the show.

RESULTS CALCULATED IN PYTHON

In [1]:
import numpy as np
import pandas as pd

In [2]:
#create original DataFrame 
BradyKids = pd.DataFrame([14, 12, 11, 10, 8, 6, 8])
#rename column and rows
BradyKids.columns = ['Age']
BradyKids.index = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
print(BradyKids)

        Age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     6
Oliver    8

In [3]:
#Add a new column with modified ages
BradyKids['After Birthday'] = [14, 12, 11, 10, 9, 6, 8]
BradyKids['Replace Oliver'] = [14, 12, 11, 10, 9, 6, 1]
#print(BradyKids)

#get mean, median, mode, variation, standard deviation, and standard error
#put results into a DataFrame for easy viewing
results = pd.DataFrame()
results['Means'] = BradyKids.mean()
results['Medians'] = BradyKids.median()
results['Variance'] = BradyKids.var(ddof=1)
results['Std Dev'] = BradyKids.std(ddof=1)
results['Std Error'] = BradyKids.std(ddof=1)/np.sqrt(BradyKids.count())

Modes are tricky to put into a dataframe as there can be more than one or none at all, though I know this data set is simple and I can easily see there is only one mode in the first column and none in the other two, it would be better to figure out a way to have python handle any data set with unknown modes.
For now I simply printed them seperately.

In [4]:
print(results.transpose())
BradyKids.mode()

                 Age  After Birthday  Replace Oliver
Means       9.857143       10.000000        9.000000
Medians    10.000000       10.000000       10.000000
Variance    7.476190        7.000000       18.666667
Std Dev     2.734262        2.645751        4.320494
Std Error   1.033454        1.000000        1.632993

   Age  After Birthday  Replace Oliver
0  8.0               6               1
1  NaN               8               6
2  NaN               9               9
3  NaN              10              10
4  NaN              11              11
5  NaN              12              12
6  NaN              14              14

In [5]:
#add additional columns with mean +/- std error for estimated population values
results['Low-estimate'] = results['Means'] - results['Std Error']
results['High-estimate'] = results['Means'] + results['Std Error']

print(results.transpose())
BradyKids.mode()

                     Age  After Birthday  Replace Oliver
Means           9.857143       10.000000        9.000000
Medians        10.000000       10.000000       10.000000
Variance        7.476190        7.000000       18.666667
Std Dev         2.734262        2.645751        4.320494
Std Error       1.033454        1.000000        1.632993
Low-estimate    8.823689        9.000000        7.367007
High-estimate  10.890597       11.000000       10.632993

   Age  After Birthday  Replace Oliver
0  8.0               6               1
1  NaN               8               6
2  NaN               9               9
3  NaN              10              10
4  NaN              11              11
5  NaN              12              12
6  NaN              14              14